{% extends "catalog/base.html" %}

{% block title %}Новый продукт{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    {% if product %}
        <h2 class="display-4"><b>Редактировать продукт</b></h2>
    {% else %}
        <h2 class="display-4"><b>Новый продукт</b></h2>
    {% endif %}
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-10">
            <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        {% if product %}
                            <h4 class="my-0 font-weight-normal">Изменить {{ product.name }}:</h4>
                        {% else %}
                            <h4 class="my-0 font-weight-normal">Добавление нового товара:</h4>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="me-3 mb-3 btn btn-outline-danger" href="{% url 'catalog:product_list' %}" role="button">Отмена</a>
                        <button type="submit" class="me-2 btn btn-lg btn-block btn-outline-primary">
                            {% if product %}
                                Сохранить
                            {% else %}
                                Добавить
                            {% endif %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}